Django>=4.2,<5
djangorestframework
django-cors-headers
django-environ
mysqlclient
celery
drf-yasg
*.pyc
__pycache__/
.env
db.sqlite3


DEBUG=True
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=alxtravel
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306
